            .navbar {
                background-color: #000000;
                overflow: hidden;
                color: #D5D8DC;
            }
            .navbar li {
                list-style-type: none;
                float: left;
                color: #D5D8DC;
            }
            .navbar a {
                color: inherit;
                text-decoration: none;
                font-size: 24px;
                padding: 16px;
                display: inline-block;
            }
            .navbar li:hover {
                background-color:#9C0202;
            }

            .dropdown-content li {
                float:none;
            }

            .dropdown-content {
                padding: 0px;
                display: none;
                position: absolute;
                z-index: 1;
                background-color: #000000;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }
            .navbar .active{
                background-color: #9C0202;
            }
            