            p { 
                color: #FFFFFF; 
                font-size:15px;
            }
            table {
                background-color:#c6c6c6;
                text-align: center;
                color:#000000;
            }
            h1 {
                color: #9C0202;
            }
            body h2 {
                color:#9C0202;
            }
            h3 {
                color:#c6c6c6;
            }
            h4{
                color: #c6c6c6;
            }
            h5 {
                color: #c6c6c6;
            }
            ol {
                color: #c6c6c6;
            }
            ol li {
                color: #c6c6c6;
            }
            ul li {
                color: #c6c6c6;
            }
            body a {
                color: #026e6e
            }
            body {
                background-color:#00121A;
            }
            ol b li {
                color: #B00020;
            }
            .photorow {
                background-color: #026e6e
            }

           .textwrap {
                float: left;
                margin:30px;
                text-align: left;
            }
            .motive {
                color: #D5D8DC;
            }
            h2 {
                color:#c6c6c6;
            }



