
            p { 
                color: #FFFFFF; 
                font-size:15px;
            }
            table {
                background-color:#c6c6c6;
                text-align: center;
                color:#000000;
            }
            h1 {
                color: #B00020;
            }
            h3 {
                color: #B00020;
            }
            h5 {
                color: #FFFFFF;
            }
            ol {
                color: #B00020;
            }
            ol li {
                color: #FFFFFF;
            }
            ul li {
                color: #c6c6c6;
            }
            body a {
                color: #026e6e
            }
            body {
                background-color:#262626;
            }
            ol b li {
                color: #B00020;
            }
            .photorow {
                background-color: #026e6e
            }

           .textwrap {
                float: left;
                margin:30px;
            }


